.profile-image {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    transition:all 0.24s ease;
    
}

.profile-image:hover {
    transform: scale(1.1);
    transition:all 0.26s ease-in-out;
}

.year{
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
}

li
{
    margin-bottom: 6px;
}

.text-important
{
    font-weight: bold;
    color: #5bc2cb;
}

.contact{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

